// classes modifiers
$card-content-padding: 8px;
$navbar-padding: 10rem;
// $section-padding: 1rem;
// $section-padding-large: 1rem;
// $section-padding-medium: 1rem;
// $section-padding-desktop: 1rem;
body {
  @extend .has-navbar-fixed-top;
}

.test {
  border: 1px solid red;
}

.has-text-crossed {
  text-decoration: line-through;
}

.has-border-success {
  border: 1px solid green;
  border-radius: 10px;
}

.bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.has-text-crossed {
  text-decoration: line-through;
}

@import "../node_modules/bulma/bulma.sass";
